<% if object.errors.any? %>

  Formularioan <%= object.errors.count %> errore daude.

  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>