<!--HEADER-->
<table width="100%">
<tr>
<td>
<%=link_to image_tag("gl-header.png", :alt => "Gure Lagunak"), "/" %>
</td>
<td style="text-align: right">
<a href="signup">Sign Up</a><br/><a href="login">Log In</a>
</td>
</tr>
</table>
<!--/HEADER-->

<center><h1>MAIN</h1></center>